Sets are used to store multiple items in a single variable

set is one of the 4 built in datatypes in python used to store collections of data, the other 3 are list ,tuple and dictionary

A set is a collection which is unordered, unindexed, unchangeable(you can remove and add items)itms cant be changed

set are written with curly braces
 duplicates not allowed.

In [1]:
thisset={"apple","banana","cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [1]:
thisset={"apple","banana","cherry"}
thisset

{'apple', 'banana', 'cherry'}

In [2]:
thisset={"apple","banana","cherry","cherry","apple"}
thisset

{'apple', 'banana', 'cherry'}

In [3]:
len(thisset)

3

In [4]:
print(type(thisset))

<class 'set'>

In [5]:
type(thisset)

set

In [6]:
#cant access with index
thisset[0]

TypeError: 'set' object is not subscriptable

# Set Constructor

possible to make set() constructor to make a set

In [15]:
a=set((1,2,3,4,5,6,6,7))   #note the double braces
print(a)

{1, 2, 3, 4, 5, 6, 7}

# For loop in set

In [1]:
b={'doctor','engineer','scientist'}
for a in b:
    print(a)

scientist
engineer
doctor

In [3]:
b={'doctor','engineer','scientist'}
t=[]
for i in b:
    
    t.append(i)
print(t)

['scientist', 'engineer', 'doctor']

In [5]:
a={1:'a',3:'b'}
for i,d in a.items():
    print(i,d)
#     print(d)

1 a
3 b

In [1]:
b={'doctor','engineer','scientist'}
print("teacher" in b)

False

In [4]:
#add an item
jobs={'doctor','engineer','scientist'}
jobs.add("fitter")
print(jobs)

{'scientist', 'fitter', 'engineer', 'doctor'}

In [1]:

#to add items from other sets, use update() method

thisset={'red','yellow','green','orange','cherry'}
fruits={'cherry','plum','apple','mango'}

thisset.update(fruits)    #exclude duplicate
print(thisset)

{'green', 'mango', 'yellow', 'red', 'apple', 'orange', 'plum', 'cherry'}

In [37]:
set1={1,2,3,4,5}
set2={'a',"b","c","b","a"}   # exclude duplicate

sets=set1.union(set2)
sets

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [24]:
#remove an item
fruits={'cherry','plum','apple','mango'}
fruits.remove('plum')
fruits

{'apple', 'cherry', 'mango'}

In [25]:
fruits={'cherry','plum','apple','mango'}
fruits.discard('plum')
fruits

{'apple', 'cherry', 'mango'}

In [3]:
num={1,2,3,4,5,6,7,78}
num.pop() # unordered, so dont know which item gets removed
num

{2, 3, 4, 5, 6, 7, 78}

In [1]:
fruits={'cherry','plum','apple','mango'}
fruits.pop()
fruits

{'cherry', 'mango', 'plum'}

In [30]:
fruits={'cherry','plum','apple','mango'}
fruits.clear()
fruits

set()

In [34]:
fruits={'cherry','plum','apple','mango'}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

# Keep the duplictes

In [41]:
x={'apple',"banana","cherry"}
y={'google',"microsoft","apple"}

x.intersection_update(y)
x

{'apple'}

In [42]:
x={'apple',"banana","cherry"}
y={'google',"microsoft","apple"}

z=x.intersection(y)
z

{'apple'}

# keep all, but not duplicates

In [43]:
x={'apple',"banana","cherry"}
y={'google',"microsoft","apple"}

x.symmetric_difference_update(y)
x

{'banana', 'cherry', 'google', 'microsoft'}

In [44]:
x={'apple',"banana","cherry"}
y={'google',"microsoft","apple"}

z=x.symmetric_difference(y)
z

{'banana', 'cherry', 'google', 'microsoft'}