Boosting:The whole dataset is given to an algorithm and its output is given  as the input to the next algorithm and goes on. 
    Intially equal weightage is given to each set,after testing if any set goes wrong then it is given more weightage,and given as input to the next alogrithm
    so it can focus more on the wrong ones,andthe method continues, accuracy also increases.

In [1]:
# !pip install pandas
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [2]:
data=pd.read_csv('C:/Users/user/Downloads/income (2).csv')
data

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0
...,...,...,...,...,...,...,...
48837,39,215419,13,0,0,36,0
48838,64,321403,9,0,0,40,0
48839,38,374983,13,0,0,50,0
48840,44,83891,13,5455,0,40,0
48841,35,182148,13,0,0,60,1

In [3]:
x=data.iloc[:,0:6]
x.values

array([[    39,  77516,     13,   2174,      0,     40],
       [    50,  83311,     13,      0,      0,     13],
       [    38, 215646,      9,      0,      0,     40],
       ...,
       [    38, 374983,     13,      0,      0,     50],
       [    44,  83891,     13,   5455,      0,     40],
       [    35, 182148,     13,      0,      0,     60]], dtype=int64)

In [4]:
y=data.iloc[:,6]
y.values

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=42)

In [6]:
from sklearn.ensemble import AdaBoostClassifier

In [7]:
#Create adaboost classifier object

Adamodel=AdaBoostClassifier(n_estimators=100,learning_rate=1)
#the learning rate controls the loss function used for calculating the weight of base models.
#By default it is set to 1,but it canbe increased or decrease depending on the estimators used.

#train adamodel

model=Adamodel.fit(x_train,y_train)

#predict

y_pred=model.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [8]:
y_test

7762     0
23881    0
30507    0
28911    0
19484    0
        ..
30726    0
7744     0
19832    0
42129    1
25313    1
Name: income_level, Length: 12211, dtype: int64

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8367865039718286

In [10]:
model.score(x_test,y_test)

0.8367865039718286

In [11]:
model.score(x_train,y_train)

0.8398624116185744