In [3]:
!pip install pymysql

In [1]:
import pymysql

In [3]:
import pymysql

connection=pymysql.connect(host='localhost',user='root',passwd="",database='cars')
print('Database Connection Established')
cur=connection.cursor()

Database Connection Established

In [ ]:
cur.execute('CREATE TABLE DETAILS(Name Varchar(20),Age int(10),Stream Varchar(50))')

In [ ]:
cur.execute('INSERT INTO DETAILS(Name,Age,Stream)VALUES("ve",24,"ec")')
connection.commit()

In [ ]:
cur.execute('ALTER TABLE DETAILS DROP COLUMN Stream')   #to remove the column stream
connection.commit()

# Tkinter with SQL connection

In [2]:
from tkinter import*

import pymysql
from tkinter import messagebox


window= Tk()
window.geometry('400x400')
window.config(bg='pink')
window.title('connection')

connect=pymysql.connect(host='localhost',user='root',password='',database='Employee')
cur=connect.cursor()

lb1=Label(window,text='Salary',bg='pink')
lb1.place(x=10,y=50)

ent1=Entry(window,bg='white',bd=5)
ent1.place(x=50,y=50)

lb2=Label(window,text='ID',bg='pink')
lb2.place(x=10,y=80)

ent2=Entry(window,bg='white',bd=5)
ent2.place(x=50,y=80)

# val1=StringVar()
# val2=IntVar()

def savedata():
    print('testing function')
    salary=ent1.get()
    id=ent2.get()
    cur.execute('INSERT INTO DATAS(SALARY,ID) VALUES(%s,%s)',(salary,id))
    connect.commit()
    messagebox.showinfo("INSERTION COMPLETE","DETAILS ENTERED SUCCESSFULLY")
    
    print('inserted')
    
btn=Button(window,text='Save',bg='Light green',command=savedata)
btn.place(x=150,y=150)


window.mainloop()

testing function
inserted